.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    &__title {
       color: blueviolet;
    }

    &__subtitle {
        font-style: italic;
    }
}

.characters {
    display: flex;
    padding: 20px;
    
    &__cards {
        list-style-type: none;
        display: flex;
        align-items: center;
        top: 0;
        overflow: hidden;
        gap: 20px;
    }
}

.favourites {
    background-color: lightpink;
}