.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    

    &__text {
        color:white;
        padding: 5px;
        text-align: center;
        font-size: 14px;
        font-style: italic;;
    }
}