<main>
  <section class="search">
    <input class="search__input js_inputSearch" type="text" placeholder="Example: Olu Mel">
    <button class="search__btn js_btnSearch">Search</button>
  </section>
  <section class="principal">
    <div class="favourites">
      <div class="main">
        <h3 class="main__title">Favourites ♥</h3>
        <p class="main__subtitle">Here's your favourites!</p>
      </div>
      <div>
        <ul class="favourites__cards"></ul>
      </div>
    </div>
    <div class="content">
      <div class="main">
        <h3 class="main__title">Characters ♥</h3>
        <p class="main__subtitle">Select your favourites Disney characters</p>
      </div>
      <div class="characters">
        <ul class="js_characterUl characters__cards"></ul>
      </div>
    </div>
  </section>
</main>